WebApplication5/node_modules/
packages/
WebApplication5/wwwroot/lib/angular*
WebApplication5/wwwroot/lib/jquery*
WebApplication5/wwwroot/lib/DefinitelyTyped
WebApplication5/wwwroot/css/*.css
WebApplication5/wwwroot/app1/*.js
WebApplication5/wwwroot/app1/*.map
